@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $main-color !important
	opacity: 1

*:-moz-placeholder
	color: $main-color !important
	opacity: 1

*::-moz-placeholder
	color: $main-color !important
	opacity: 1

*:-ms-input-placeholder
	color: $main-color !important
	opacity: 1

a,a:focus,a:hover,a:active,button, button:hover 
	outline: 0 !important 
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $main-color !important
body input:required:valid,
body textarea:required:valid
	color: $main-color !important
input:focus::-webkit-input-placeholder
    color: transparent!important

input:focus::-moz-placeholder
    color: transparent!important

input:focus:-moz-placeholder
    color: transparent!important


html, body
	height: 100%
	font-size: 18px 
	color: $main-color !important
a.nav-link
	color: $main-color !important
body

	min-width: 710px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
section
	margin: 40px 0px
section.header
	margin: 20px 0px
.text-center
	text-align: center

.dropdown-toggle::after 
	content: none !important
::selection
	background-color: $orange
	color: #fff

.logo
	font-family: $capture
	a, a:hover
		text-decoration: none
		color: $main-color
.logoorange
	display: inline-block
	color: $orange

.menu
	color: $main-color !important
	font-weight: 800
	padding-top: 8px
.nav-link
	transition: .1s
	&:hover
		transform: scale(1.05)
.phone
	position: relative
	bottom: 20px	
	margin-bottom: -25px
	font-weight: 500
	span
		
		font-weight: 800
.catandsearch
	background-color: $orange
	color: #fff
	padding: 30px 0px
	font-size: 24px

.catalog
	background-color: rgba($orange, .9)  !important
	
	margin-top: 40px !important
	margin-left: -20px !important
	border: none !important
	border-radius: 0 0 10px 10px !important
	
	width: 250px
.dropdown-item
	color: #fff !important
	font-weight: 400 !important
	font-family: $default-font !important
	line-height: 14px
	&:hover
		color: $main-color !important
.fas
	font-size: 16px
.slider
	margin-top: -40px	
.slide
	&-1
		background-image: url(../img/slides/slide1/slide-1-bg.png)
		color: $main-color
		background-size: 30%
		button
			color: #fff
	&-2
		background-image: url(../img/slides/slide2/slide-2-bg.png)
		color: $main-color
		background-size: 50%
		button
			color: #fff
	&-3
		background-image: url(../img/slides/slide3/slide-3-bg.png)
		color: $main-color
		background-size: 20%
		button
			color: #fff
	&-4
		background-image: url(../img/slides/slide4/slide-4-bg.png)
		button
			color: #fff	
.big
	&-itemname
		font-size: 30px
		text-transform: uppercase
		font-weight: 800
		// font-family: $capture
		margin-top: 35px
	&-prices
		font-size: 48px
		text-transform: uppercase
		// font-family: $capture
		margin-top: 30px
		font-weight: 800
		>s
			font-size: 36px
			line-height: 10px
s.light
	color: rgba(255,255,255,0.8)
s.dark
	color: rgba(51,70,87,0.8)
.big
	&-btn
		background-color: $orange
		border: none
		margin: 20px 0px
		padding: 7px 30px
		border-radius: 25px 25px
		text-transform: uppercase
		font-size: 24px
		font-weight: 800
		transition: .1s
		box-shadow: 3px 3px 5px rgba(0,0,0,0.5) 
		&:hover
			background-color: lighten($orange, 5%)
.itemimg
	&-1
		margin-top: 100px
	&-2
		margin-top: -30px
		width: 80% !important
	&-3
		margin-top: 70px
	&-4
		width: 80% !important
		margin-top: 25px
.search
	&-button
		background-color: $main-color
		border: none
		border-radius: 0 20px 20px 0 !important
	&-input
		border-radius: 20px 0 0 20px !important
.owl
	&-nav
		font-size: 126px
		margin-top: 0
		color: $orange
		line-height: 0em
		// position: absolute
	&-prev
		top: 40% !important
		left: 1%
		font-size: 52px !important
		position: absolute
		transition: .2s
		&:hover
			color: lighten($orange, 15%) !important
			background: none !important
	&-next		
		top: 40% !important
		font-size: 52px !important
		right: 1%
		position: absolute
		transition: .2s
		&:hover
			color: lighten($orange, 15%) !important
			background: none !important
	&-dots
		margin-top: -35px
		position: relative
		// pointer-events: none
		z-index: 9999
	&-dot
.owl-theme .owl-dots .owl-dot span
	background: lighten($orange, 20)
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	background: darken($orange, 10)
.cart
	& span
		font-size: 36px
		font-weight: 400
		margin-right: 10px
.goods
	h2
		font-weight: 700
		text-transform: uppercase
		border-bottom: $orange solid 7px
	span
		border-bottom: solid 2px
		position: relative
		top: -11px
		width: 100%
		z-index: -1
	a, a:hover
		text-decoration: none
		color: $main-color
.goodcards
	margin-top: 30px !important
	margin: auto
.item
	&-good
		transition: .15s
		&:hover
			// box-shadow: inset hoff voff blur color
			box-shadow: 20px 20px 20px rgba(0,0,0,0.3) 
			margin: auto
			transform: scale(1.005)
	&-card
		&-cat
			color: lighten($main-color, 20)
			font-size: 14px
			font-weight: 500
		&-name
			font-weight: 500
			font-size: 20px
		&-image
			img
				width: 100%
				margin-top: 20px
				padding-bottom: 20px
		&-price
			padding-bottom: 15px
			b
				font-size: 24px
				padding-right: 10px
section.subscribe
	background-color: $orange
	padding: 20px 0
	h2
		text-transform: uppercase
		font-size: 24px
		color: #fff
	.envelope
		color: #fff
		font-size: 68px
		font-weight: 800
	.subscribe
		&-button
			background-color: $main-color
			border: none
			border-radius: 0 20px 20px 0 !important
			color: #fff
		&-field
			margin-top: 10px
ul.breadcrumb li+li:before 
    padding: 8px
    content: "\003E"
.breadcrumb
	a,a:hover
		// text-decoration: none
		color: $orange
		font-weight: 600	
.current 
  

.photo img 
  width: 350px

nav a 
  display:inline-block
  

nav img 
  display:block

@import "media" // Всегда в конце
